<div class="about-author-container">
    <h2>About author</h2>
    <div class="info-container">
        <p>Hi! My name is Patrick and this is Dating App - an application inspired by other such applications, such as
            Tinder. </p>
        <p>I have been developing myself in programming since middleschool and becoming a programmer always had been my
            dream. Now I'm happy I made it - on a daily basis, I work as a fullstack developer in ASP.NET and Angular.
            I mostly program in C# and ASP.NET.</p>
        <p>Github repository: <a href="https://github.com/patrykwitek" target="_blank">https://github.com/patrykwitek</a></p>
        <h6>Technologies used in the application:</h6>
        <ul>
            <li><b>Angular</b> as frontend</li>
            <li><b>ASP.NET</b> as backend</li>
        </ul>
    </div>
    <div class="photo-container">
        <a href="https://www.linkedin.com/in/patryk-witek-38272323b/" target="_blank">
            <img src="../../assets/patrykwitek.png" alt="Patryk Witek" title="Patryk Witek">
        </a>
    </div>
    <h6>Patryk Witek</h6>
</div>