<div class="about-author-container">
    <h2>{{"AboutAuthor" | translate}}</h2>
    <div class="info-container">
        <p>{{"Author1" | translate}}</p>
        <p>{{"Author2" | translate}}</p>
        <p>{{"GithubRepository" | translate}}: <a href="https://github.com/patrykwitek" target="_blank">https://github.com/patrykwitek</a></p>
        <h6>{{"TechnologiesUsed" | translate}}:</h6>
        <ul>
            <li><b>Angular</b> {{"As" | translate}} frontend</li>
            <li><b>ASP.NET</b> {{"As" | translate}} backend</li>
        </ul>
    </div>
    <div class="photo-container">
        <a href="https://www.linkedin.com/in/patryk-witek-38272323b/" target="_blank">
            <img src="../../assets/patrykwitek.png" alt="Patryk Witek" title="Patryk Witek">
        </a>
    </div>
    <h6>Patryk Witek</h6>
</div>