.member-container {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px -6px black;
    background-color: rgba(255, 255, 255, 0.8);
    transition: .2s;

    .photo-container {
        overflow: hidden;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        img {
            width: 10rem;
            transform: scale(1, 1);
            transition: ease-out .2s;
            border-radius: 5px 5px 0 0;
        }

        ul{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: .5rem;
            align-self: center;
            padding: 0;
            position: absolute;
            bottom: -30%;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            opacity: 0;
            transition: .2s;

            li{
                display: inline;

                button{
                    background-color: white;
                    border: none;
                    border-radius: 7px;
                    transition: .2s;
                    height: 2.5rem;
                    width: 2.5rem;
                    text-align: center;
                    box-shadow: 0px 0px 9px -2px black;

                    .btn-icon{
                        color: rgb(141, 60, 138);
                        position: relative;
                        top: 6px;
                        font-size: 1.1rem;
                    }

                    &:hover{
                        background-color: rgb(141, 60, 138);

                        .btn-icon{
                            color: white;
                        }
                    }
                }
            }
        }
    }

    .member-info-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        h6 {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            .online-visualization {
                width: .6rem;
                height: .6rem;
                border-radius: 50%;
                background-color: rgb(58, 211, 58);
                margin-right: .2rem;
                box-shadow: 0px 0px 5px -2px rgb(58, 211, 58);
            }

            .person-icon {
                color: rgb(44, 44, 44);
            }
        }

        p {
            color: rgb(44, 44, 44);
        }
    }

    &:hover {
        background-color: rgba(255, 255, 255, 0.9);

        .photo-container {
            img {
                transform: scale(1.05, 1.05);
                transition: ease-out .2s;
                opacity: .7;
            }

            ul{
                bottom: 30%;
                opacity: 1;
            }
        }
    }
}

@media (max-width: 768px) {
    .member-container {
        .photo-container {
            img {
                width: 8rem;
            }
        }
    }
}