/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "./node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

.active {
    color: white !important;
}

.nav-tabs {
    li {
        border-bottom: 4px solid transparent;

        a {
            border: 0 !important;
            color: white !important;

            i {
                color: #404040;
            }
        }

        &.active {
            border-bottom: 1px rgba(255, 255, 255, 0.2) solid !important;
            
            a {
                border: 0 !important;
                color: rgb(233, 199, 255) !important;
                background-color: rgba(255, 255, 255, 0.2) !important;
            }
        }
        
        &.open {
            a {
                background: none !important;
                color: #333333;
            }
        }

        &:hover {
            a {
                border: 0;
                color: #333333;

                i {
                    color: #a6a6a6;
                }
            }
        }
    }
}

.member-tabset {
    .tab-content {
        margin-top: -3px;
        background-color: rgba(255, 255, 255, 0.2);
        border: 0;
        padding: 15px 0;
    }
}

.users-gallery {
    height: 600px;
}