<div class="details-container">
    <div class="left-side">
        <img src="{{member.photoUrl || './assets/user.png'}}" alt="User's photo">
        <div class="info-container">
            <div class="info">
                <strong>Location:</strong>
                <p>{{member.city}}, {{member.country}}</p>
            </div>
            <div class="info">
                <strong>Age:</strong>
                <p>{{member.age}}</p>
            </div>
            <div class="info">
                <strong>Last active:</strong>
                <p>{{member.lastActive + 'Z' | timeago}}</p>
            </div>
            <div class="info">
                <strong>Member since:</strong>
                <p>{{member.created | date: "dd MMMM yyyy"}}</p>
            </div>
        </div>
        <div class="buttons-container">
            <button class="like-button">
                <mat-icon class="icon">favorite</mat-icon>
            </button>
            <button class="message-button" (click)="selectTab('Messages')">
                <mat-icon class="icon">message</mat-icon>
            </button>
        </div>
    </div>
    <div class="right-side">
        <tabset class="member-tabset" #memberTabs>
            <tab heading="About {{member.knownAs}}" (selectTab)="onTabActivated($event)">
                <div class="about-container">
                    <h4>Description</h4>
                    <p>{{member.introduction}}</p>
                    <h4>Looking for</h4>
                    <p>{{member.lookingFor}}</p>
                </div>
            </tab>
            <tab heading="Interests" (selectTab)="onTabActivated($event)">
                <div class="interests-container">
                    <h4>Interests</h4>
                    <p>{{member.interests}}</p>
                </div>
            </tab>
            <tab heading="Photos" #photoTab="tab" (selectTab)="onTabActivated($event)">
                <div class="photos-container">
                    <gallery *ngIf="photoTab.active" [items]="images" class="users-gallery"></gallery>
                </div>
            </tab>
            <tab heading="Messages" (selectTab)="onTabActivated($event)">
                <div class="messages-container">
                    <app-member-messages [username]="member.userName" [messages]="messages"></app-member-messages>
                </div>
            </tab>
        </tabset>
    </div>
</div>