.details-container {
    max-width: 100vw;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 0 5rem;

    .left-side {
        width: 320px;
        height: fit-content;
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 20px;
        box-shadow: 0px 0px 8px -4px black;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem 1rem;

        img {
            width: 100%;
        }

        .online-now-info {
            width: 100%;
            display: flex;
            justify-content: left;
            align-items: center;
            margin-top: .5rem;
            color: white;

            .online-circle {
                width: .6rem;
                height: .6rem;
                border-radius: 50%;
                background-color: rgb(58, 211, 58);
                margin-right: .5rem;
                box-shadow: 0px 0px 3px -2px rgb(58, 211, 58);
            }
        }

        .info-container {
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: .5rem .5rem;
            color: white;
        }

        .buttons-container {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            justify-content: center;

            button {
                width: 136px;
                transition: .2s;
            }

            .like-button {
                border: 1px rgb(240, 14, 119) solid;
                background-color: rgb(240, 14, 119);
                color: white;

                .icon {
                    position: relative;
                    top: 4px;
                    font-size: 20px;
                    transition: .2s;
                }

                &:hover {
                    .icon {
                        transform: scale(120%);
                    }
                }
            }

            .message-button {
                border: 1px rgb(62, 18, 91) solid;
                background-color: rgb(62, 18, 91);
                color: white;
                
                .icon {
                    position: relative;
                    top: 4px;
                    font-size: 20px;
                    transition: .2s;
                }

                &:hover {
                    .icon {
                        transform: scale(120%);
                    }
                }
            }
        }
    }

    .right-side {
        width: 60vw;

        .about-container{
            min-height: 560px;
            color: rgba(255, 255, 255, 0.9);
            display: flex;
            flex-direction: column;
            padding: 0 2rem;

            p{
                width: 500px;
            }
        }

        .interests-container{
            min-height: 560px;
            color: rgba(255, 255, 255, 0.9);
            display: flex;
            flex-direction: column;
            padding: 0 2rem;

            p{
                width: 500px;
            }
        }

        .photos-container{
            min-height: 560px;
            color: rgba(255, 255, 255, 0.9);
            display: flex;
            flex-direction: column;

            p{
                width: 500px;
            }
        }

        .messages-container{
            min-height: 560px;
            color: rgba(255, 255, 255, 0.9);
            display: flex;
            flex-direction: column;
            padding: 0 2rem;

            p{
                width: 500px;
            }
        }
    }
}

@media (max-width: 768px) {
    .details-container {
        padding: 0 1rem;
        justify-content: center;

        .left-side {
            width: 30vw;
    
            .buttons-container {   
                button {
                    width: 100%;
                }
            }
        }
    
        .right-side {
            width: 50vw;

            .about-container{
                p{
                    width: 40vw;
                }
            }
    
            .interests-container{
                p{
                    width: 40vw;
                }
            }
    
            .photos-container{
                p{
                    width: 40vw;
                }
            }
    
            .messages-container{
                p{
                    width: 40vw;
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .details-container {
        gap: 1rem;
    
        .left-side {
            align-self: center;
            width: 80vw;
    
            img {
                width: 80%;
            }
    
            .buttons-container {   
                button {
                    width: 70vw;
                }
            }
        }
    
        .right-side {
            width: 80vw;

            .about-container{
                p{
                    width: 60vw;
                }
            }
    
            .interests-container{
                p{
                    width: 60vw;
                }
            }
    
            .photos-container{
                p{
                    width: 60vw;
                }
            }
    
            .messages-container{
                p{
                    width: 60vw;
                }
            }
        }
    }
}