.details-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

    .left-side {
        width: 300px;
        height: fit-content;
        border: 1px rgb(181, 181, 181) solid;
        border-radius: 10px;
        box-shadow: 0px 0px 8px -4px rgb(16, 50, 145);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: .5rem;

        img {
            width: 100%;
        }

        .info-container {
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: .5rem .5rem;
        }

        .buttons-container {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: 10px;

            button {
                width: 136px;
                transition: .2s;
            }

            .like-button {
                border: 1px rgb(240, 14, 119) solid;
                background-color: rgb(240, 14, 119);
                color: white;

                .icon {
                    position: relative;
                    top: 4px;
                    font-size: 20px;
                    transition: .2s;
                }

                &:hover {
                    background-color: transparent;
                    color: rgb(240, 14, 119);

                    .icon {
                        top: 2px;
                        font-size: 25px;
                    }
                }
            }

            .message-button {
                border: 1px rgb(23, 44, 103) solid;
                background-color: rgb(23, 44, 103);
                color: white;

                .icon {
                    position: relative;
                    top: 4px;
                    font-size: 20px;
                }

                &:hover {
                    background-color: transparent;
                    color: rgb(23, 44, 103);

                    .icon {
                        font-size: 22px;
                    }
                }
            }
        }
    }

    .right-side {
        width: fit-content;

        .about-container{
            color: black;
            display: flex;
            flex-direction: column;

            p{
                width: 500px;
            }
        }

        .interests-container{
            color: black;
            display: flex;
            flex-direction: column;

            p{
                width: 500px;
            }
        }

        .photos-container{
            color: black;
            display: flex;
            flex-direction: column;

            p{
                width: 500px;
            }
        }

        .messages-container{
            color: black;
            display: flex;
            flex-direction: column;

            p{
                width: 500px;
            }
        }
    }
}