<div class="home-container">
    <div *ngIf="!registerMode" class="welcome-page">
        <h1>{{"SwipeForMatch" | translate}}</h1>
        <div class="buttons-container">
            <button (click)="registerToggle()">{{"CreateAccount" | translate}}</button>
            <button routerLink="/about-author">{{"AboutAuthor" | translate}}</button>
        </div>
    </div>
    <div *ngIf="registerMode">
        <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
    </div>
</div>