.errors-testing-page {
    width: 100vw;
    display: flex;
    flex-direction: column;

    div {
        align-self: center;

        button {
            border: 1px white solid;
            margin: 1rem .5rem;
            padding: .3rem 1rem;
            background-color: transparent;
            color: white;
            border-radius: 20px;
            transition: .2s;

            &:hover {
                background-color: white;
                color: rgb(62, 18, 91);
                box-shadow: 0px 0px 3px -1px black;
            }
        }

        ul{
            li{
                color: white;
            }
        }
    }
}