.register-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 2rem 3rem;
    box-shadow: 0px 0px 8px -5px black;
    width: 500px;
    margin-bottom: 2rem;

    h2 {
        align-self: center;
        font-size: 3rem;
        color: white;
    }

    .input-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        position: relative;

        .gender-field {
            display: flex;
            gap: .5rem;
        }

        * {
            align-self: center;
        }
    }

    .register-errors-container {
        ul {
            li {
                color: rgb(255, 255, 255);
            }
        }
    }

    .button-container {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        justify-content: center;
        align-self: center;

        button {
            width: 300px;
            font-size: .9rem;
            padding: 8px 10px;
        }

        .register-button {
            border: 1px white solid;
            background-color: transparent;
            color: white;
            transition: .2s;

            &:hover {
                background-color: white;
                color: rgb(62, 18, 91);
                border-color: white;
            }
        }

        .cancel-button {
            border: 1px rgb(171, 0, 0) solid;
            background-color: transparent;
            color: rgb(171, 0, 0);
            transition: .2s;

            &:hover {
                background-color: rgb(171, 0, 0);
                color: white;
            }
        }
    }
}