<form class='register-form' [formGroup]="registerForm" (ngSubmit)="registerForm.valid && register()" autocomplete="off">
    <h2>{{"SignUp" | translate}}</h2>
    <div class="input-container">
        <div class="gender-field">
            <label>{{"Gender" | translate}}:</label>
            <label>
                <input type="radio" value="male" formControlName="gender"> {{"Male" | translate}}
            </label>
            <label>
                <input type="radio" value="female" formControlName="gender"> {{"Female" | translate}}
            </label>
        </div>
        <app-text-input 
            [formControl]="$any(registerForm.controls['username'])" 
            [label]="'Username'">
        </app-text-input>
        <app-text-input 
            [formControl]="$any(registerForm.controls['knownAs'])" 
            [label]="'KnownAs'">
        </app-text-input>
        <app-date-picker
            [formControl]="$any(registerForm.controls['dateOfBirth'])" 
            [label]="'DateOfBirth'" [maxDate]="maxDate">
        </app-date-picker>
        <app-text-input 
            [formControl]="$any(registerForm.controls['city'])" 
            [label]="'City'">
        </app-text-input>
        <app-text-input 
            [formControl]="$any(registerForm.controls['country'])" 
            [label]="'Country'">
        </app-text-input>
        <app-text-input 
            [formControl]="$any(registerForm.controls['password'])" 
            [label]="'Password'" 
            [type]="'password'">
        </app-text-input>
        <app-text-input 
            [formControl]="$any(registerForm.controls['confirmPassword'])" 
            [label]="'ConfirmPassword'" 
            [type]="'password'">
        </app-text-input>
    </div>
    <div class="register-errors-container" *ngIf="validationErrors">
        <ul>
            <li *ngFor="let error of validationErrors">
                {{error}}
            </li>
        </ul>
    </div>
    <div class="button-container">
        <button 
            class="register-button" 
            type="submit"
            [disabled]="!registerForm.valid">
                {{"CreateAccount" | translate}}
        </button>
        <button class="cancel-button" type="button" (click)="cancel()">{{"Cancel" | translate}}</button>
    </div>
</form>