<div class="member-list-container">
    <div *ngIf="userParams" class="action-buttons-container">
        <h2>{{pagination?.totalItems}} Matches</h2>

        <form #form="ngForm" (ngSubmit)="loadMembers()" autocomplete="off">
            <div class="single-form-property">
                <label>Age from</label>
                <input type="number" name="min-age" [(ngModel)]="userParams.minAge">
            </div>
            <div class="single-form-property">
                <label>Age to</label>
                <input type="number" name="max-age" [(ngModel)]="userParams.maxAge">
            </div>
            <div class="single-form-property">
                <label>Show: </label>
                <select name="gender" [(ngModel)]="userParams.gender">
                    <option *ngFor="let gender of genderList" [value]="gender.value">
                        {{gender.display}}
                    </option>
                </select>
            </div>

            <button type="submit">Apply filters</button>
            <button type="submit" (click)="resetFilters()">Reset filters</button>

            <div class="filter-container">
                <!-- note: btnRadio (z bootstrapa) ustawia userParams.orderBy na wartość btnRadio -->
                <p>Filter by:</p>
                <div class="buttons-container">
                    <button type="button" name="orderBy" [(ngModel)]="userParams.orderBy" btnRadio="lastActive"
                        (click)="loadMembers()">
                        Last Active
                    </button>
                    <button type="button" name="orderBy" [(ngModel)]="userParams.orderBy" btnRadio="created"
                        (click)="loadMembers()">
                        Newest Memebers
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div class="members-container">
        <div *ngFor="let member of members" class="single-member">
            <app-member-card [member]="member"></app-member-card>
        </div>
        <!-- starsza wersja bez stronnicowania: *ngFor="let member of members$ | async" -->
    </div>

    <div *ngIf="pagination" class="pagination-container">
        <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems" [itemsPerPage]="pagination.itemsPerPage"
            [maxSize]="10" [(ngModel)]="pagination.currentPage" (pageChanged)="pageChanged($event)"
            previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"
            class="pagination-styles">
        </pagination>
    </div>
</div>