.member-list-container {
    display: flex;
    flex-direction: column;
    max-width: 100vw;

    .action-buttons-container {
        max-width: 100vw;
        display: flex;
        flex-direction: column;
        margin-bottom: 1.5rem;
        gap: 1rem;
        align-self: center;

        * {
            align-self: center;
        }

        h2 {
            color: var(--header-color);
        }

        form {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;

            .single-form-property {
                label {
                    margin-right: .3rem;
                    color: white;
                }

                input {
                    font-size: .8rem;
                    width: 3rem;
                    border: 1px transparent solid;
                    box-shadow: 0px 0px 6px -2px black;
                    color: var(--background-color-two);

                    &:focus {
                        outline: none;
                    }
                }

                select {
                    font-size: .9rem;
                    border: 1px transparent solid;
                    box-shadow: 0px 0px 6px -2px black;
                    color: var(--background-color-two);

                    &:hover {
                        cursor: pointer;
                    }
                }
            }

            button {
                border: 1px white solid;
                background-color: transparent;
                color: white;
                font-size: .7rem;
                padding: .2rem 1rem;
                transition: .2s;
                box-shadow: 0px 0px 6px -2px black;

                &:hover {
                    background-color: white;
                    color: var(--background-color-two);
                }
            }

            .filter-container {
                display: flex;
                flex-direction: column;
                position: relative;
                bottom: .75rem;
                margin-left: 4rem;

                * {
                    align-self: center;
                }

                p {
                    color: var(--cancel-button);
                    margin: 0;
                    margin-bottom: .2rem;
                    font-size: .8rem;
                }

                .buttons-container {
                    button {
                        background-color: transparent;
                        color: white;
                        font-size: .7rem;
                        padding: .2rem 1rem;
                        transition: .2s;
                        box-shadow: none;
                        border: 1px var(--cancel-button) solid;
                        color: var(--cancel-button);

                        &:hover {
                            background-color: var(--filter-hover);
                            color: var(--header-color);
                        }
                    }

                    .active {
                        background-color: var(--filter-active) !important;
                        color: var(--background-color-two) !important;
                    }
                }
            }
        }
    }

    .members-container {
        max-width: 70vw;
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
        justify-content: center;
        padding: 0 2rem;
        align-self: center;
    }

    .pagination-container {
        max-width: 100vw;
        display: flex;
        justify-content: center;
        margin-top: 2rem;
        align-self: center;

        .pagination-styles::ng-deep .page-item.active .page-link {
            color: var(--background-color-two);
            background-color: rgba(255, 255, 255, 0.5) !important;

            &:hover {
                color: var(--background-color-two);
                background-color: rgba(255, 255, 255, 0.5) !important;
            }
        }

        .pagination-styles::ng-deep .page-item .page-link {
            color: #FFFFFF;
            background-color: transparent !important;
            border-color: rgba(255, 255, 255, 0.5);

            &:hover {
                color: var(--background-color-two);
                background-color: rgba(255, 255, 255, 0.2) !important;
            }
        }
    }
}