<nav>
    <a class="app-title" routerLink="/">
        <span class="app-title-text">
            {{"DatingApp" | translate}}
        </span>
        <span class="app-title-logo">
            💗
        </span>
    </a>
    <ul class="nav-items">
        <ng-container *ngIf="accountService.currentUser$ | async">
            <li class="nav-item">
                <a class="nav-item-text" routerLink="/members" routerLinkActive="active">
                    <span class="nav-item-icon"><mat-icon>link</mat-icon></span>
                    <span class="nav-item-title">{{"Matches" | translate}}</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-item-text" routerLink="/sent-likes" routerLinkActive="active">
                    <span class="nav-item-icon"><mat-icon>thumb_up</mat-icon></span>
                    <span class="nav-item-title">{{"SentLikes" | translate}}</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-item-text" routerLink="/messages" routerLinkActive="active">
                    <span class="nav-item-icon"><mat-icon>forum</mat-icon></span>
                    <span class="nav-item-title">{{"Messages" | translate}}</span>
                </a>
            </li>
            <li *appHasRole="['Admin', 'Moderator']" class="nav-item">
                <a class="nav-item-text" routerLink="/admin" routerLinkActive="active">
                    <span class="nav-item-icon"><mat-icon>shield</mat-icon></span>
                    <span class="nav-item-title">{{"Admin" | translate}}</span>
                </a>
            </li>
        </ng-container>
    </ul>
    <div class="dropdown-list" clickOutside (clickOutside)="clickOutside()" *ngIf="(accountService.currentUser$ | async) as user">
        <a [className]="'dropdown-list-toggle ' + (showDropdownMenu ? 'highlighted' : '')"
            (click)="toggleDropdownMenu()">
            <img src="{{user.photoUrl || './assets/user.png'}}" alt="user's profile photo" class="users-profile-photo">
            <div class="welcome-text">{{"Welcome" | translate}} {{user.knownAs | titlecase}}</div>
            <mat-icon class="icon">keyboard_arrow_down</mat-icon>
        </a>
        <div [className]="'dropdown-list-menu ' + (showDropdownMenu ? 'active' : 'inactive')">
            <a class="dropdown-list-item" title="my profile" routerLink="/members/{{user.username}}" (click)="chooseMenuOption()">
                <mat-icon class="icon">person</mat-icon>
                <div>{{"MyProfile" | translate}}</div>
            </a>
            <a class="dropdown-list-item" title="edit profile" routerLink="/member/edit" (click)="chooseMenuOption()">
                <mat-icon class="icon">edit</mat-icon>
                <div>{{"EditProfile" | translate}}</div>
            </a>
            <a class="dropdown-list-item" title="settings" (click)="openSettings()">
                <mat-icon class="icon">settings</mat-icon>
                <div>{{"Settings" | translate}}</div>
            </a>
            <a class="dropdown-list-item" title="logout" (click)="logout()">
                <mat-icon class="icon">keyboard_return</mat-icon>
                <div>{{"Logout" | translate}}</div>
            </a>
        </div>
    </div>
    <form *ngIf="!(accountService.currentUser$ | async)" #loginForm="ngForm" class="login-form" (ngSubmit)="login()"
        autocomplete="off">
        <input name="username" [(ngModel)]="model.username" class="login-input" type="text" [placeholder]="'Username' | translate">
        <input name="password" [(ngModel)]="model.password" class="login-input" type="password" [placeholder]="'Password' | translate">
        <button class="login-btn" type="submit">
            <span class="login-text">{{"Login" | translate}}</span>
            <mat-icon class="login-icon">send</mat-icon>
        </button>
    </form>
</nav>