nav {
    width: 100vw;
    height: 65px;
    position: fixed;
    top: 0;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 10px -5px black;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 4rem;
    z-index: 1;

    .app-title {
        text-decoration: none;
        color: white;
        font-size: 1.5rem;
        transition: .2s;
        margin: 0;

        .app-title-logo {
            display: none;
        }

        &:hover {
            color: var(--header-hover-text);
        }
    }

    .nav-items {
        height: 65px;
        display: flex;
        align-items: center;
        margin: 0;

        .nav-item {
            display: inline-block;
            margin: 0 10px;

            .nav-item-text {
                text-decoration: none;
                color: white;
                transition: .2s;

                .nav-item-icon {
                    display: none;
                }
            }

            &:hover {
                cursor: pointer;

                .nav-item-text {
                    color: var(--header-hover-text);
                }
            }
        }

        .active {
            color: var(--header-hover-text) !important;
        }
    }

    .dropdown-list {
        margin-left: auto;

        a {
            text-decoration: none;
            color: white;
        }

        .dropdown-list-toggle {
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
            transition: .2s;
            line-height: 40px;

            .users-profile-photo {
                max-height: 40px;
                border: 2px solid white;
                border-radius: 50%;
                transition: ease-out .1s;
                margin-right: .5rem;
                box-shadow: 0px 0px 7px -2px black;
            }

            .icon {
                position: relative;
                top: 8px;
            }

            &.highlighted {
                color: var(--header-hover-text);
            }

            &:hover {
                cursor: pointer;
                color: var(--header-hover-text);

                .users-profile-photo {
                    opacity: .8;
                }
            }
        }

        .dropdown-list-menu {
            background-color: var(--dropdown-list-background);
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            position: fixed;
            top: 60px;
            right: 70px;
            transition: .3s;

            a {
                color: black;
                padding: 5px 10px;
                padding-right: 50px;
                font-size: .9rem;

                .icon {
                    transition: .2s;
                }

                &:hover {
                    cursor: pointer;
                    color: var(--dropdown-list-text);

                    .icon {
                        transform: scale(120%);
                    }
                }
            }

            .dropdown-list-item {
                display: flex;
                flex-wrap: wrap;
                gap: 10px;
                align-items: center;
            }

            &.inactive {
                visibility: hidden;
                opacity: 0;
                transform: translateY(-10px);
            }

            &.active {
                visibility: visible;
                opacity: 1;
                transform: translateY(0px);
            }
        }
    }

    .login-form {
        margin-left: auto;

        .login-input {
            height: 35px;
            margin-right: .5rem;
            border: none;
            border-radius: 0;
            padding-left: .3rem;

            &:focus {
                outline: none;
                box-shadow: 0px 0px 8px -2px black;
            }
        }

        .login-btn {
            height: 35px;
            background-color: transparent;
            border: 1px white solid;
            color: white;
            padding: 0 1rem;
            transition: .2s;

            .login-icon {
                display: none;
            }

            &:hover {
                background-color: var(--dropdown-list-background);
                border: 1px var(--dropdown-list-background) solid;
                color: var(--background-color-two);
                box-shadow: 0px 0px 8px -2px black;
            }
        }
    }
}

@media (max-width: 768px) {
    nav {
        height: 55px;
        padding: 0 1rem;

        .app-title {
            font-size: 1.5rem;
            position: relative;
            bottom: 5px;
        }

        .nav-items {
            padding: .4rem;

            .nav-item {
                .nav-item-text {
                    .nav-item-title {
                        display: none;
                    }

                    .nav-item-icon {
                        display: inline;
                    }
                }
            }
        }

        .dropdown-list {
            .dropdown-list-toggle {
                .welcome-text {
                    display: none;
                }

                .users-profile-photo {
                    width: 35px;
                    position: relative;
                    bottom: 4px;
                    margin-right: 0;
                }

                .icon {
                    display: none;
                }
            }

            .dropdown-list-menu {
                right: 10px;
            }
        }

        .login-form {
            display: flex;
            align-items: center;
            position: relative;
            bottom: 3px;

            .login-input {
                height: 30px;
                width: 115px;
            }

            .login-btn {
                height: 30px;
                padding: 0 10px;
            }
        }
    }
}

@media (max-width: 480px) {
    nav {
        height: 55px;
        padding: 0 1rem;

        .app-title {
            font-size: 1.7rem;
            position: relative;
            bottom: 5px;

            .app-title-text {
                display: none;
            }

            .app-title-logo {
                display: block;
            }
        }

        .nav-items {
            padding: 0;

            .nav-item {
                .nav-item-text {
                    .nav-item-title {
                        display: none;
                    }

                    .nav-item-icon {
                        display: inline;
                    }
                }
            }
        }

        .dropdown-list {
            .dropdown-list-toggle {
                .welcome-text {
                    display: none;
                }

                .users-profile-photo {
                    width: 35px;
                    position: relative;
                    bottom: 4px;
                    margin-right: 0;
                }

                .icon {
                    display: none;
                }
            }

            .dropdown-list-menu {
                border-radius: 0;
                top: 55px;
                right: 0px;
                width: 100%;
            }
        }

        .login-form {
            display: flex;
            align-items: center;
            position: relative;
            bottom: 3px;

            .login-input {
                height: 30px;
                width: 100px;
            }

            .login-btn {
                padding: 0;
                border: none;

                .login-text {
                    display: none;
                }

                .login-icon {
                    display: block;
                }
            }
        }
    }
}