<nav>
    <a class="app-title" routerLink="/">Dating App</a>
    <ul class="nav-items">
        <ng-container *ngIf="accountService.currentUser$ | async">
            <li class="nav-item">
                <a class="nav-item-text" routerLink="/members" routerLinkActive="active">Matches</a>
            </li>
            <li class="nav-item">
                <a class="nav-item-text" routerLink="/lists" routerLinkActive="active">Lists</a>
            </li>
            <li class="nav-item">
                <a class="nav-item-text" routerLink="/messages" routerLinkActive="active">Messages</a>
            </li>
        </ng-container>
        <li class="nav-item">
            <a class="nav-item-text" routerLink="/errors-testing" routerLinkActive="active">Errors</a>
        </li>
    </ul>
    <div class="dropdown-list" clickOutside (clickOutside)="clickOutside()" *ngIf="(accountService.currentUser$ | async) as user">
        <a [className]="'dropdown-list-toggle ' + (showDropdownMenu ? 'highlighted' : '')"
            (click)="toggleDropdownMenu()">
            <div>Welcome {{user.username | titlecase}}</div>
            <mat-icon class="icon">keyboard_arrow_down</mat-icon>
        </a>
        <div [className]="'dropdown-list-menu ' + (showDropdownMenu ? 'active' : 'inactive')">
            <a class="dropdown-list-item" title="edit profile">
                <mat-icon>edit</mat-icon>
                <div>Edit Profile</div>
            </a>
            <a class="dropdown-list-item" title="settings">
                <mat-icon>settings</mat-icon>
                <div>Settings</div>
            </a>
            <a class="dropdown-list-item" title="logout" (click)="logout()">
                <mat-icon>keyboard_return</mat-icon>
                <div>Logout</div>
            </a>
        </div>
    </div>
    <form *ngIf="!(accountService.currentUser$ | async)" #loginForm="ngForm" class="login-form" (ngSubmit)="login()"
        autocomplete="off">
        <input name="username" [(ngModel)]="model.username" class="login-input" type="text" placeholder="Username">
        <input name="password" [(ngModel)]="model.password" class="login-input" type="password" placeholder="Password">
        <button class="login-btn" type="submit">Login</button>
    </form>
</nav>