<div class="sent-likes-container">
    <div class="buttons-container">
        <div name="predicate">
            <button btnRadio="liked" [(ngModel)]="predicate" (click)="loadLikes()">
                {{"SentLikes" | translate}}
            </button>
            <button btnRadio="likedBy" [(ngModel)]="predicate" (click)="loadLikes()">
                {{"ReceivedLikes" | translate}}
            </button>
        </div>
    </div>
    <div class="users-container" *ngIf="members?.length != 0">
        <app-member-card *ngFor="let member of members" [member]="member"></app-member-card>
    </div>
    <div *ngIf="pagination && members?.length != 0" class="pagination-container">
        <pagination 
            [boundaryLinks]="true" 
            [totalItems]="pagination.totalItems" 
            [itemsPerPage]="pagination.itemsPerPage"
            [maxSize]="10"
            [(ngModel)]="pagination.currentPage"
            (pageChanged)="pageChanged($event)"
            previousText="&lsaquo;" 
            nextText="&rsaquo;" 
            firstText="&laquo;"
            lastText="&raquo;"
            class="pagination-styles">
        </pagination>
    </div>
    <h3 *ngIf="members?.length == 0 && predicate == 'liked'">{{"NoSentLikesYet" | translate}}</h3>
    <h3 *ngIf="members?.length == 0 && predicate == 'likedBy'">{{"NoReceivedLikesYet" | translate}}</h3>
</div>