.settings-icon {
    scale: 130%;
    position: relative;
    top: 1px;
    margin-right: .5rem;
}

.modal-body {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .language-section {
        width: 100%;
        display: flex;
        gap: .5rem;
        transition: .2s;

        p {
            padding: 0;
            color: rgb(26, 26, 26);
            font-size: 1.1rem;
            position: relative;
            top: 5px;
            margin-right: 5px;
        }

        .language-options {
            display: flex;
            flex-direction: column;
            gap: .2rem;

            .language-option {
                width: 150px;
                height: fit-content;
                transition: .2s;
                padding: 5px 4px;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                gap: .5rem;

                img {
                    height: 22px;
                    transition: ease-out .2s;
                    box-shadow: 0px 0px 5px -1px black;
                }

                &.selected {
                    font-weight: bold;
                }

                &:hover {
                    cursor: pointer;
                    transform: scale(1.05, 1.05);
                }
            }
        }
    }

    .dark-light-mode-section {
        width: 100%;
        display: flex;
        gap: .8rem;

        .toggle-switch {
            width: 45px;
            height: 25px;
            background-color: rgb(204, 204, 204);
            border-radius: 25px;
            position: relative;
            transition: .2s;

            .toggle-ball {
                width: 23px;
                height: 23px;
                background-color: white;
                border-radius: 50%;
                position: absolute;
                top: 1px;
                left: 1px;
                transition: .2s;

                &.active-toggle-ball {
                    background-color: rgba(12, 12, 12, 0.5);
                    transform: translateX(20px);
                }
            }

            &.active-toggle-switch {
                background-color: rgba(12, 12, 12, 0.3);
            }

            &:hover {
                cursor: pointer;
            }
        }
    }
}