<div class="modal-header">
    <mat-icon class="settings-icon">settings</mat-icon>
    <h4 class="modal-title pull-left">{{"Settings" | translate}}</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="close()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="language-section">
        <p>{{"Language" | translate}}:</p>
        <div class="language-options">
            <div 
                class="language-option" 
                [ngClass]="selectedLanguage === 'en' ? 'selected' : ''"
                (click)="selectLanguage('en')">
                    <img src="./assets/great britain flag.png" alt="english">
                    English
            </div>
            <div 
                class="language-option" 
                [ngClass]="selectedLanguage === 'pl' ? 'selected' : ''"
                (click)="selectLanguage('pl')">
                    <img src="./assets/polish flag.png" alt="polish">
                    Polski
            </div>
        </div>
    </div>
</div>